@page "/prestamos/modificar/{id:int}"
@using LendApp.Shared.Modelo
@inject HttpClient Http
@inject NavigationManager Navegar

<h3>Modificar Prestamo</h3>

<EditForm Model="_elPrestamo" OnValidSubmit="GuardarPrestamo">
    <DataAnnotationsValidator />
    @* Id del Prestamo *@
    <div class="mb-3">
        <label for="txtIdPrestamo" class="form-label">Id del cliente</label>
        <InputNumber id="txtIdPrestamo" class="form-control" @bind-Value="_elPrestamo.PrestamoId" />
        <ValidationMessage For="(() => _elPrestamo.PrestamoId)" />
    </div>
    
    @* Monto del Préstamo *@
    <div class="mb-3">
        <label for="txtMontoPrestamo" class="form-label">Monto del préstamo</label>
        <InputNumber id="txtMontoPrestamo" class="form-control" @bind-Value="_elPrestamo.MontoPrestamo" />
        <ValidationMessage For="(() => _elPrestamo.MontoPrestamo)" />
    </div>
    
    @* Interess *@
    <div class="mb-3">
        <label for="txtInteres" class="form-label">Interés</label>
        <InputNumber id="txtInteres" class="form-control" @bind-Value="_elPrestamo.Interes" />
        <ValidationMessage For="(() => _elPrestamo.Interes)" />
    </div>
    
    @* Tipo de Préstamo *@
    <div class="mb-3">
        <label for="txtTipoPrestamo" class="form-label">Tipo de préstamo</label>
        <InputText id="txtTipoPrestamo" class="form-control" @bind-Value="_elPrestamo.TipoPrestamo" />
        <ValidationMessage For="(() => _elPrestamo.TipoPrestamo)" />
    </div>

    @* Planes de Pago *@
    <div class="mb-3">
        <label for="txtPlanesPago" class="form-label">Planes de pago</label>
        <InputNumber id="txtPlanesPago" class="form-control" @bind-Value="_elPrestamo.PlanPago" />
        <ValidationMessage For="(() => _elPrestamo.PlanPago)" />
    </div>
    
    @* Fecha de Otorgamiento *@
    <div class="mb-3">
        <label for="txtFechaOtorgamiento" class="form-label">Fecha de otorgamiento</label>
        <InputDate id="txtFechaOtorgamiento" class="form-control" @bind-Value="_elPrestamo.FechaOtorgamiento" />
        <ValidationMessage For="(() => _elPrestamo.FechaOtorgamiento)" />
    </div>

    @* Saldo Restante *@
    <div class="mb-3">
        <label for="txtSaldoRestante" class="form-label">Saldo restante</label>
        <InputNumber id="txtSaldoRestante" class="form-control" @bind-Value="_elPrestamo.SaldoRestante" />
        <ValidationMessage For="(() => _elPrestamo.SaldoRestante)" />
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }
    private Prestamo _elPrestamo = new Prestamo();

    protected override async Task OnInitializedAsync()
    {
        _elPrestamo = (await Http.GetFromJsonAsync<Prestamo>($"api/Prestamo/{Id}"))!;
    }

    private async void GuardarPrestamo()
    {
        await Http.PutAsJsonAsync($"api/Prestamo/{Id}", _elPrestamo);
        Navegar.NavigateTo("/prestamos");
    }
}