@page "/pagos/modificar/{id:int}"
@using LendApp.Shared.Modelo
@inject HttpClient Http
@inject NavigationManager Navegar

<h3>Modificar Pago</h3>

<EditForm Model="_elPago" OnValidSubmit="GuardarPago">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label for="txtIdPrestamo" class="form-label">Id del Préstamo</label>
        <InputSelect TValue="int" class="form-control" @bind-Value="_elPago.PrestamoId">
            <option id="txtIdPrestamo" value="">Seleccione el Prestamo</option>
            @foreach (var prestamo in _listaPrestamos)
            {
                <option value="@prestamo.PrestamoId">@prestamo.PrestamoId, @prestamo.NombreCliente</option>
            }
        </InputSelect>
    </div>
    
    <div class="mb-3">
        <label for="txtFechaPago" class="form-label">Fecha del Pago</label>
        <InputDate id="txtFechaPago" class="form-control" @bind-Value="_elPago.FechaPago" />
        <ValidationMessage For="(() => _elPago.FechaPago)" />
    </div>
    
    <div class="mb-3">
        <label for="txtMontoPagado" class="form-label">Monto Pagado</label>
        <InputNumber id="txtMontoPagado" class="form-control" @bind-Value="_elPago.MontoPagado" />
        <ValidationMessage For="(() => _elPago.MontoPagado)" />
    </div>
    
    <div class="mb-3">
        <label for="NumeroCuota" class="form-label">Número de Cuota</label>
        <InputNumber id="NumeroCuota" class="form-control" @bind-Value="_elPago.NumeroCuota" />
        <ValidationMessage For="(() => _elPago.NumeroCuota)" />
    </div>
    
    <button type="submit" class="btn btn-primary">Guardar</button>
</EditForm>

@* ReSharper disable once UnnecessaryWhitespace *@
@code {
    [Parameter]
    public int Id { get; set; }
    private Pago _elPago = new Pago();
    
    private List<Prestamo> _listaPrestamos = new List<Prestamo>();

    protected override async Task OnInitializedAsync()
    {
        _elPago = (await Http.GetFromJsonAsync<Pago>($"api/Pago/{Id}"))!;
    // ReSharper disable UnnecessaryWhitespace
        
    // ReSharper restore UnnecessaryWhitespace
    // Obtener la lista de prestamos desde el servidor
        _listaPrestamos = (await Http.GetFromJsonAsync<List<Prestamo>>("api/Prestamo"))!;
    }

    private async void GuardarPago()
    {
        await Http.PutAsJsonAsync($"api/Pago/{Id}", _elPago);
        Navegar.NavigateTo("/pagos");
    }
}